{% load static %}
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block head_title %}{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'foundation/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}">
  <link rel="stylesheet" href="{% static 'foundation/css/foundation-icons.css' %}">

  <script src="{% static 'foundation/js/vendor/modernizr.js' %}"></script>

  {% if SEGMENT_IO_API_WRITE_KEY %}
    <script type="text/javascript">
      window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(t){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)},window.analytics.SNIPPET_VERSION="2.0.8",
      window.analytics.load("{{ SEGMENT_IO_API_WRITE_KEY }}");
      window.analytics.page();
    </script>
  {% endif %}

</head>
<body>

  {% block body %}
    <script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'foundation/js/foundation.min.js' %}"></script>
    <script>
      $(document).foundation();
    </script>

    {% if SEGMENT_IO_API_WRITE_KEY %}
      {% if user.is_authenticated %}
      <script>
        analytics.identify('{{ user.pk }}', {
          email : '{{ user.email }}',
          name : '{{ user.get_full_name }}'
        });
      </script>
      {% endif %}
    {% endif %}
  {% endblock %}
  
</body>
</html>