{% extends '__base.html' %}

{% load static %}
{% load avatar_tags %}

{% block body %}
  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/"><img src="{% static 'img/ef-lightbulb-logo.png' %}"></a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="has-dropdown">
          {% if user.is_authenticated %}
            <a href="">
              CalumJEadie
              &nbsp;
              <img src="{% avatar_url user 30 %}">
            </a>
            <ul class="dropdown">
              <li><a href="/CalumJEadie">View profile</a></li>
              <li><a href="/account">Manage account</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        {% else %}
          <li>
            <a href="/join" class="button">Signup</a>
          </li>
          <li>
            <a href="/login">Login</a>
          </li>
        {% endif %}
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li><a href="/about">About</a></li>
        <li><a href="/feedback">Feedback</a></li>
      </ul>
    </section>
  </nav>
  </div>
  
  {% block content %}
  {% endblock %}

  {{ block.super }}

{% endblock body %}