{% load avatar_tags %}
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Founder School : People</title>

  <link rel="stylesheet" href="/static/foundation/css/normalize.css">
  <link rel="stylesheet" href="/static/foundation/css/foundation.css">
  <link rel="stylesheet" href="/static/foundation/css/foundation-icons.css">

  <script src="/static/foundation/js/vendor/modernizr.js"></script>

</head>
<body>

<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/"><img src="/static/img/ef-lightbulb-logo.png"></a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="">
          CalumJEadie
          &nbsp;
          <img src="{% avatar_url user 30 %}">
        </a>
        <ul class="dropdown">
          <li><a href="/CalumJEadie">View profile</a></li>
          <li><a href="/account">Manage account</a></li>
          <li class="divider"></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </li>
      <li>
        <a href="/join" class="button">Signup</a>
      </li>
      <li>
        <a href="/login">Login</a>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="/about">About</a></li>
      <li><a href="/feedback">Feedback</a></li>
    </ul>
  </section>
</nav>
</div>

  <div class="row">
    <div class="large-12 columns">


      
    </div>
  </div>

  <script src="/static/foundation/js/vendor/jquery.js"></script>
  <script src="/static/foundation/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>