<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>People</title>

  <link rel="stylesheet" href="/static/foundation/css/normalize.css">
  <link rel="stylesheet" href="/static/foundation/css/foundation.css">

  <script src="/static/foundation/js/vendor/modernizr.js"></script>

</head>
<body>

  <div class="row">
    <div class="large-12 columns">
      <h1>People</h1>
    </div>
  </div>

  <script src="/static/foundation/js/vendor/jquery.js"></script>
  <script src="/static/foundation/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>