{% extends '__page.html' %}

{% block head_title %}Founder School{% endblock %}

{% block content %}
  <div style="background-color: #333333; color: white; padding-top: 2rem; padding-bottom: 1rem;" class="text-center">

      <h1 style="margin-top: 0; color: white;">EF FOUNDER SCHOOL</h1>

      <h3 style="color: white; margin-top: 2rem;">Build technology. Shape your world.</h3>

      <p style="color: white; margin-top: 3rem;">
        <a href="{% url 'people.views.join' %}" class="button">REQUEST TO JOIN</a>
      </p>

  </div>

  <div class="row">
    <div class="column" style="padding-top: 2rem;">

      <p>
        <strong>EF Founder School</strong> is a growing network of the UK’s best student builders, designers, and makers who want to solve the most cutting-edge tech challenges.
      </p>

      <p>
        Made up of ambitious technical minds, <strong>EF Founder School</strong> is a platform to develop your skills further, learn from successful CTOs, tech founders and industry experts on how to build products people want to use, and collaborate on innovative projects that experiment with interesting tech.
      </p>

      <p>
        You’ll also have the chance to attend exclusive events and competitions, receive feedback on your startup ideas, and perhaps meet your future co-founders. Our first two EF Founder School events brought the <a href="http://www.entrepreneurfirst.org.uk/2/post/2013/10/founder-school-hear-from-the-founder-of-google-books.html">founder of Google Books</a> and <a href="http://www.entrepreneurfirst.org.uk/2/post/2013/12/start-a-startup-when-you-graduate-reasons-from-yc-alumni.html">Y Combinator Alumni</a> together with students to share experiences and essential tips on becoming a founder.

      <p>
        We’re looking for talented students who really understand technology and want to learn more about the applications of it. All students can join, but our events will be of most interest to those studying technical degrees or modules. If you think you can build the next big thing, <a href="/join">request to join now</a>.
      </p>

    </div>
  </div>
{% endblock %}