{% extends '__page.html' %}

{% load static }
{% load avatar_tags %}
{% load markdown_tags %}

{% block head_title %}{{ profile_user.get_full_name }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="columns">

        <div class="row" style="margin-top: 2rem;">
          <div class="column medium-4 large-3">
            <img src="{% avatar_url profile_user 400 %}" style="border-radius: 5px;">
            {% if user != profile_user %}
              <p style="margin-top:1rem;">
                <a href="mailto:{{ profile_user.email }}" class="button expand small" style="margin-bottom: 0;">CONTACT</a>
              </p>
            {% endif %}
            <hr>
            <p>
              {{ profile_user.profile.degree_subject }}<br>
              {{ profile_user.profile.university }}<br>
              {{ profile_user.profile.graduation_year }}<br>
            </p>
            <hr>
            <p>
              {% if profile_user.profile.url %}
                <i class="fi-web"></i>&nbsp;&nbsp;<a href="{{ profile_user.profile.url }}">{{ profile_user.profile.url }}</a><br>
              {% endif %}
              <i class="fi-mail"></i>&nbsp;&nbsp;<a href="mailto:{{ profile_user.profile.email }}">{{ profile_user.email }}</a><br>
              {% if profile_user.profile.twitter %}
                <i class="fi-social-twitter"></i>&nbsp;&nbsp;<a href="https://twitter.com/{{ profile_user.profile.twitter }}">@{{ profile_user.profile.twitter }}</a><br>
              {% endif %}
              {% if profile_user.profile.github %}
                <i class="fi-social-github"></i>&nbsp;&nbsp;<a href="https://github.com/{{ profile_user.profile.github }}">{{ profile_user.profile.github }}</a><br>
              {% endif %}
              {% if profile_user.profile.linkedin %}
                <i class="fi-social-linkedin"></i>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/{{ profile_user.profile.linkedin }}">{{ profile_user.profile.linkedin }}</a><br>
              {% endif %}
            </p>

          </div>
          <div class="column medium-8 large-9">

            <div class="clearfix">

              <h1 style="line-height: 1; margin-bottom: 1.5rem;" class="left">
                {{ profile_user.get_full_name }}
              </h1>

              {% if user == profile_user %}
                <a href="/accounts/manage/" class="button small right secondary round">Manage account</a>
                {% if not profile_user.projects.all %}
                  <a href="/projects/new/" class="button small right secondary round" style="margin-right: 1rem;">Add a project</a>
                {% endif %}
              {% endif %}

            </div>

            {% if profile_user.profile.description %}
              {{ profile_user.profile.description | markdown }}
            {% endif %}

            {% if profile_user.projects.all %}
              <div class="clearfix" style="margin-top: 3rem;">
                <h3 class="left">Projects</h3>
                {% if user == profile_user %}
                  <a href="/projects/new/" class="button small right secondary round">New</a>
                {% endif %}
              </div>

              {% for project in profile_user.projects.all %}
                <div style="margin-bottom: 2rem;">
                  <h4><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h4>

                  <p>{{ project.summary }}</p>
                </div>
              {% endfor %}
            {% endif %}
          </div>
      
    </div>
  </div>
{% endblock %}