{% extends '__page.html' %}

{% load static }
{% load avatar_tags %}

{% block head_title %}{{ user.get_full_name }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="columns">

        <div class="row" style="margin-top: 2rem;">
          <div class="column small-3">
            <img src="{% avatar_url user 400 %}" style="border-radius: 5px;">
            <h3 style="margin-top: 1rem; margin-bottom: 0;">
              {{ user.get_full_name }}
            </h3>
            <h5 class="subheader" style="margin-top: 0;">
              {{ user.username }}
            </h5>
            <hr>
            <p>
              {{ user.profile.degree_subject }}, {{ user.profile.university }}<br>
              {{ user.profile.graduation_year }}<br>
            </p>
            <hr>
            <p>
              <a href="mailto:{{ user.profile.email }}" class="button expand small" style="margin-bottom: 0;">CONTACT</a>
            </p>
            <p>
              {% if user.profile.url %}
                <i class="fi-web"></i>&nbsp;&nbsp;<a href="{{ user.profile.url }}">{{ user.profile.url }}</a><br>
              {% endif %}
              <i class="fi-mail"></i>&nbsp;&nbsp;<a href="mailto:{{ user.profile.email }}">{{ user.email }}</a><br>
              {% if user.profile.twitter %}
                <i class="fi-social-twitter"></i>&nbsp;&nbsp;<a href="https://twitter.com/{{ user.profile.twitter }}">@{{ user.profile.twitter }}</a><br>
              {% endif %}
              {% if user.profile.github %}
                <i class="fi-social-github"></i>&nbsp;&nbsp;<a href="https://github.com/{{ user.profile.github }}">{{ user.profile.github }}</a><br>
              {% endif %}
              {% if user.profile.linkedin %}
                <i class="fi-social-linkedin"></i>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/{{ user.profile.linkedin }}">{{ user.profile.linkedin }}</a><br>
              {% endif %}
            </p>

          </div>
          <div class="column small-9">
          </div>
      
    </div>
  </div>
{% endblock %}