{% extends '__page.html' %}

{% load static }
{% load avatar_tags %}

{% block head_title %}Projects{% endblock %}

{% block content %}
  <div class="row">
    <div class="column">
      <h1 style="margin-top: 1rem; margin-bottom: 2rem;">Projects</h1>

      <table>
        {% for project in projects %}
          <tr>
            <td>
              <h4 class="left">
                <a href="{{ project.get_absolute_url }}">{{ project.title }}</a>
              </h4>
              <p class="left">
                {{ project.summary }}
              </p>
            </td>
            <td>
              {% for project_user in project.users.all %}
                <a href="{{ project_user.profile.get_absolute_url }}">
                  <img src="{% avatar_url project_user 200 %}" style="border-radius: 5px; width: 80px;">
                </a>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}