{% extends '__page.html' %}

{% load static }
{% load avatar_tags %}
{% load markdown_tags %}

{% block head_title %}{{ project.title }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="columns">

        <div class="row" style="margin-top: 2rem;">
          <div class="column">

            <div class="clearfix">

              <h1 style="line-height: 1; margin-bottom: 1.5rem;" class="left">
                {{ project.title }}
              </h1>

              {% if user in project.users.all %}
                <a href="{{ project.get_absolute_url }}/delete" class="button small right secondary round">Delete</a>
                <a href="{{ project.get_absolute_url }}/edit" class="button small right secondary round" style="margin-right: 0.5rem;">Edit</a>
              {% endif %}

            </div>

            

            <p>
              {% for project_user in project.users.all %}
                <a href="{{ project_user.profile.get_absolute_url }}">
                  <img src="{% avatar_url project_user 200 %}" style="border-radius: 5px; width: 80px;">
                </a>
              {% endfor %}
            </p>

            <p>{{ project.summary }}</p>

            {{ project.description | markdown }}
          </div>
        </div>
    </div>
  </div>
{% endblock %}