{% extends '__page.html' %}

{% load static }
{% load avatar_tags %}
{% load markdown_tags %}

{% block head_title %}{{ project.title }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="columns">

        <div class="row" style="margin-top: 2rem;">
          <div class="column">
            <h1>{{ project.title }}</h1>
            <p>{{ project.summary }}</p>

            {% for project_user in project.users.all %}
                <a href="{{ project_user.profile.get_absolute_url }}">
                  <img src="{% avatar_url project_user 200 %}" style="border-radius: 5px; width: 80px;">
                </a>
              {% endfor %}

            {{ project.description | markdown }}
          </div>
        </div>
    </div>
  </div>
{% endblock %}