{% extends '__page.html' %}

{% load static }
{% load avatar_tags %}

{% block head_title %}Projects{% endblock %}

{% block content %}
  <div class="row">
    <div class="column">
      <h1 style="margin-top: 1rem; margin-bottom: 2rem;">Projects</h1>

      
        {% for project in projects %}
          <div>
            <a href="{{ project.user.profile.get_absolute_url }}" class="left">
              <img src="{% avatar_url project.user 200 %}" style="border-radius: 5px; margin-right: 2rem; width: 80px;">
            </a>
            <h4>
            <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
            </h4>
            <p>
              {{ project.summary }}
            </p>
            <a href="{{ project.get_absolute_url }}">{{ project.user.get_full_name }}</a>
          </div>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}